*{
  font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

  
#menu{ 
  padding-top: 5px;
  border: none;
  background-color:white;
  /*background-color:hsl(248, 39%, 39%) ; */
  border-radius: 0%;
  height: 65px;
  box-shadow: 1px 1px 0.1cm #aaaaaa;
  height: 65px;
  box-shadow: 1px 1px 0.1cm #aaaaaa;
  
}

#burger{
  background-color: #2F4F4F;
 
}
.icon-bar{
  background-color: white;
}

#logo{
  font-weight: bold;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  color: #2F4F4F;
}



#signup{
  text-align: center;
  font-size: 15px;
  margin-top: 6px;
  margin-right: 40px;
  background-color: #F5F5F5;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 100px;
  color: black;
  box-shadow: 1px 1px 0.1cm #aaaaaa;
 
}

#signup:hover{
  color: #191970;
}

#login{
  text-align: center;
  font-size: 15px;
  margin-top: 6px;
  margin-right: 20px;
  background-color: white;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 100px;
  color: black;
}

#login-menu{
  background-color: rgb(245, 245, 245,0.3);
  margin-top: 15px;
  width: 100px;
  border: none;
  height: 70px;
  box-shadow: 1px 1px 0.1cm #aaaaaa;
}

#login-link{
  margin-bottom: 5px;
  color:black;
}

#login-link:hover{
  color: #191970;
  text-decoration: none;
  background-color: rgb(245, 245, 245,0);
}


.notice{
  background-color: #191970;
  color:white;
  max-width: max-content;
  height: 100%;
  margin: 150px;
}


/* less than equal to 949  640*/
@media(max-width:756px) {
 
#menu{ 
  box-shadow: none;
  height: auto;  
}
#myNavbar{
  border-top: white;
  height: auto;
  box-shadow: 1px 1px 0.1cm #aaaaaa;
}

#login-menu{
  background-color: white;
  box-shadow: none;
  height: auto;  
}


#signup{
  border: none;
  border-radius: 0%;
  background-color: white;
  box-shadow: none;
 
}
}

